<nav class="flex items-center justify-between p-4 bg-gray-200 dark:bg-gray-900 text-black dark:text-white">
  <!-- Logo or Title on the Left -->
  <!--<div class="font-bold text-lg">
    <a href="#">Track Guesser</a>
  </div>-->
  
  <!-- Navbar Links in the Center (Mobile & Desktop) -->
  <!--
  <div class="hidden md:flex space-x-6">
    <a href="#" class="hover:text-blue-500">Home</a>
    <a href="#" class="hover:text-blue-500">Casual</a>
    <a href="#" class="hover:text-blue-500">Competitive</a>
  </div>
  old stuff
  -->
  <div class="w-full justify-center hidden md:flex space-x-6">
    <a href="#" class="hover:text-blue-500">Home</a>
  </div>

  <!--

  The plan is for the navbar to house the 4 components (how-to, leaderboard, settings, mode selection)
  -- <a routerLink="/"><h1 class="link">text</h1></a>
    this router link only changes in the mode selection component
    in navbar use ngif to toggle displaying tne 4 components
  -->

  <!-- Dark Mode Button on the Right -->
  <!-- Do we need this here? -->
  <button (click)="toggleDarkMode()" class="p-2 rounded bg-gray-300 dark:bg-gray-700">
    🌙
  </button>
</nav>
