<div class="mt-10 grid grid-cols-1 gap-10 w-screen place-items-center">
    <div>
        <app-track-data-competitive [track_name]="track_name" [artist]="artist_name"></app-track-data-competitive>
        <!-- skip button -->
        <button (click)="skipTrack()"  class="w-24 h-8 bg-black">Skip</button>
    </div>

    <div>
        <app-text-entry-competitive></app-text-entry-competitive>
    </div>

    <div class="flex gap-4">
        <app-timer></app-timer>
        <app-scoring></app-scoring>
    </div>
    

</div>
