<div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!authLoading && !configLoading">
  <div class="grid gap-10 place-items-center w-screen">

    <div class="text-center mb-10">
      <img class="w-96 h-96" src="assets/menu.png"/>
      <a class="text-lg font-bold">Track Matcher</a>
      <br/>
      <a>You can choose between two modes: Casual and Competitive</a>
      <br/>
      <a>Click on How To for more details!</a>
      <br/>
      <br/>
      <a> Click guess to start</a>
      <br/>
      <button (click)="start()" class="bg-black mt-4 w-48 h-16">GUESS</button>
    </div>


    <!--
    <div class="text-white space-x-2">
      <span>Genre:</span>
      <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)" class="p-1 bg-white text-black">
        <option [value]=""></option>
        <option class="text-black" [value]="genre" *ngFor="let genre of genres">
          {{ genre }}
        </option>
      </select>
      <br/>
      <a>This is just placeholder</a>
    </div>
    -->
    
  </div>
</div>

<app-mode-select 
[active]="started"
(activeChange)="cancelStart()">
</app-mode-select>
